* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 1024px;
  min-height: 100%;

  font-family: "Inter", Arial, sans-serif;
}

body {
  min-height: 100vh;
  color: #111111;
  background: #f2f3ff;
}

button,
input {
  font: inherit;
}
