.dashboard-stat {
  flex: 1;
  max-height: 100px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;

  span {
    margin-bottom: 16px;
    color: #888888;
    font-size: 11px;
  }

  strong {
    color: #1735f5;
    font-size: 20px;
    font-weight: 500;

    small {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__distance {
    color: #fa4029 !important;
  }
}

@media (max-width: 1100px) {
  .dashboard-stat {
    max-height: 95px;
    padding: 20px 24px;

    span {
      margin-bottom: 12px;
      font-size: 10px;
    }

    strong {
      font-size: 18px;

      small {
        font-size: 11px;
      }
    }
  }
}